.footer {
   background-color: $grey-clr;
   padding: 35px 0;


   &__container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
      justify-content: space-between;
      align-items: center;

      @include for-tablet {
         grid-template-columns: repeat(2, auto);
         justify-items: center;
         justify-content: center;
      }

      @include for-min-tablet {
         grid-template-columns: 1fr;
      }
   }

   &__logo-icon {
      width: 170px;
      height: 86px;
   }

}

.contact-footer__container{
   @include flex-col(space-around);
   gap: 15px;

   @include for-min-tablet {
      flex-direction: column;
   }
}