.header{
    width: 100%;

    &__bgImages {
        background-image: url("../img/header.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        min-height:500px;

        @include for-phone {
            background-position: center;
            min-height: 350px;
        }
    }
}


