.header{
    width: 100%;

    &__bgImages {
        background-image: url("../img/header.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        min-height:100vh;

        @include for-tablet {
            background-attachment: scroll;
            background-position: center;
        }
    }
}


