.contact-info-block__wrapper {
   align-items: flex-start!important;
}

.info-block {
   margin: 60px 0;

   &__wrapper {
      margin-top: 50px;
      @include flex-col();
      gap: 20px;

      @include for-tablet {
         flex-direction: column;
      }
   }


   &__line {
      width: 150px;
      margin: 25px 0;
      border-top: 0;
      border-bottom: 1px solid $blue-clr;

      @include for-tablet {
         margin: 25px auto;
      }
   }

   &__img-block {
      width: 100%;
   }

   &__img {
      width: 100%;
   }

   &__text-block {
      width: 100%;

      @include for-tablet {
         width: auto
      }
   }

   &-text {
      @include set-font(16px, 300);
      line-height: 1.55;
      margin-bottom: 10px;
      text-indent: 15px;
   }

   &__list {
      margin-left: 15px;
   }

   &__list-item {
      list-style: none;
      margin-bottom: 15px;
   }
}