.info-block {
   margin: 60px 0;

   &__wrapper {
      margin-top: 50px;
      @include flex-col();
      gap: 20px;

      @include for-tablet {
         flex-direction: column;
      }
   }

   &__img-block {
      width: 100%;
   }

   &__img {
      width: 100%;
   }

   &_text-block {
      width: 100%;

      @include for-tablet {
         width: auto;
      }
   }

   &-text {
      @include set-font(16px, 300);
      line-height: 1.55;
      margin-bottom: 10px;
   }

   &__list {
      margin-left: 15px;
   }

   &__list-item {
      list-style: none;
      margin-bottom: 15px;
   }

   &__line{
      border: none;
      border-bottom: 2px solid $blue-clr;
      margin: 20px 0;
      max-width: 200px;
   }
}

