
.main-navbar{
   z-index: 999;
   @include for-min-tablet {
      display: none;
   }

   &-border{
      border-width: 0 0 1px 0 ;
      border-style: solid ;
      border-color: #ecf0f1;
      margin: 0 auto;      
      @media(max-width: 1200px){
         max-width: 960px;
      }
   }
   
   &-nav{
      @include flex-col(space-between);
      align-items: center;
      gap: 10px;

      @include for-tablet {
         flex-direction: column;
      }
   }
   
   &__link {
      text-decoration: none;
      color: $black-clr;
      @include set-font(15px);
      padding: 15px 0;
      text-transform: uppercase;
      text-align: center;
      position: relative;
   
      &::after{
         content: '';
         position: absolute;
         left: 0;
         width: 100%;
         border-bottom: 2px solid $blue-clr;
         bottom: 5px;
         transition: $transition;
         opacity: 0;
      }
   
      &:hover::after{
         opacity: 1;
         bottom: 10px   ;
      }
   }

   
}