.our-services {}

.our-services__container {}

.our-services__title {
   @include set-font(42px,600);
   text-align: center;
   margin-bottom: 40px;
   @include for-tablet {
      font-size: 30px;
   }

   @include for-phone {
      font-size: 20px;
   }
}

.our-services__subtitle {
   @include set-font(18px,400);
   margin: 0 auto 30px;
   text-align: center;
   max-width: 900px;
}

.our-services__boxes-wrapper {
   @include flex-col(space-between);
   flex-wrap: wrap;
   gap: 20px;
}

.our-services__box {
   width: calc(100% / 3 - 20px);
  

}

.our-services__box-img {
   width: 100%;
   border-radius: 50%;
}

.our-services__box-text {}