.top-navbar {

   &__container {
      @include flex-col(flex-end);
      padding: 30px 20px 20px;

      @include for-tablet {
         flex-direction: column;
         justify-content: center;
         gap: 20px;
      }

      @include for-min-tablet {
         flex-direction: row;
         @include flex-col(space-between);
      }
   }

   &__logo-link {
      @media(min-width: $tab-screen) {
         margin-right: auto;
      }
   }

   &__logo-icon {
      width: 100px;
      height: 59px;


   }

   &__phone-block {
      @include flex-col();

      @include for-min-tablet {
         display: none
      }
   }

   &__phone-item {
      @include flex-col();
      padding: 0 20px;

   }

   &__phone-icon {
      @include svg(30px);
      margin-right: 10px;
   }

   &__phone-number {
      @include set-font(26px, 700)
   }

   &__phone-city {
      @include set-font(14px)
   }

   &__lang-block {
      position: relative;

      @include for-min-tablet {
         display: none
      }

      img {
         width: 30px;
         height: 20px;
         display: block;
      }

   }

   .top-navbar__lang-dropbtn {
      border: 1px solid #ecf0f1;
      border-radius: 10px;
      padding: 8px 10px;
      text-align: center;
      cursor: pointer;

      &:hover {
         background-color: #ecf0f1;
         transition: $transition;
      }

   }


   &__lang-dropdown {
      position: absolute;
      left: calc(-100% + -20px);
      top: calc(100% + 5px);
      border: 1px solid #ecf0f1;
      border-radius: 10px;
      text-align: center;
      @include flex-col(center,stretch);
      flex-direction: column;
      display: none;
      z-index: 99;
      background: #fff;
      padding: 10px 0;

      @include for-tablet{
         left: 0;
         transform: translateX(-25%);
      }

   }

   &__lang-dropcontent {
      padding: 4px 10px;
      cursor: pointer;
      @include flex-col(flex-start);

      &:hover {
         background-color: #ecf0f1;
         transition: $transition;
      }
   }

   &__burger-btn {
      cursor: pointer;
      border: none;
      background: transparent;
   }

   &__lang-text {
      margin-left: 10px;
   }

   &__burger-icon {
      @include svg(28px);
      margin-right: 10px;

      @media (min-width: $min-tab-screen) {
         display: none;
      }

   }
}