.top-navbar {
   background: #fff;

   @include for-min-tablet {
      // position: fixed;
      width: 100%;
      border-bottom: 1px solid #000;
   }

   &__container {
      @include flex-col(flex-end);
      padding: 30px 20px 20px;

      @include for-tablet {
         flex-direction: column;
         justify-content: center;
         gap: 20px;
      }

      ;

      @include for-min-tablet {
         flex-direction: row;
         @include flex-col(space-between);
         padding: 20px;

      }

   }

   &__logo-link {
      @media(min-width: $tab-screen) {
         margin-right: auto;
      }
   }

   &__logo-icon {
      width: 160px;
      height: 95px;
   }

   &__phone-block {
      @include flex-col();

      @include for-min-tablet {
         display: none
      }
   }

   &__phone-item {
      @include flex-col();
      padding: 0 20px;

   }

   &__phone-icon {
      @include svg(30px);
      margin-right: 10px;

      @include for-phone {
         fill: #fff;
      }
   }

   &__phone-number {
      @include set-font(26px, 700)
   }

   &__phone-link {
      color: #000;
      text-decoration: none;

      @include for-phone {
         color: #fff;
      }
   }

   &__phone-city {
      @include set-font(14px)
   }

   &__lang-block {
      position: relative;

      @include for-min-tablet {
         margin-left: auto;
      }

      img {
         width: 30px;
         height: 20px;
         display: block;
      }

   }

   .top-navbar__lang-dropbtn {
      border: 1px solid #ecf0f1;
      border-radius: 10px;
      padding: 8px 10px;
      text-align: center;
      cursor: pointer;

      &:hover {
         background-color: #ecf0f1;
         transition: $transition;
      }

   }


   &__lang-dropdown {
      position: absolute;
      left: calc(-100% + -28px);
      top: calc(100% + 5px);
      border: 1px solid #ecf0f1;
      border-radius: 10px;
      text-align: center;
      @include flex-col(center, stretch);
      flex-direction: column;
      display: none;
      z-index: 99;
      background: #fff;
      padding: 10px 0;

      @include for-tablet {
         left: 0;
         transform: translateX(-25%);
      }



      &_active {
         display: block;
      }
   }

   &__lang-dropcontent {
      padding: 4px 10px;
      cursor: pointer;
      @include flex-col(flex-end);
      gap: 10px;

      &:hover {
         background-color: #ecf0f1;
         transition: $transition;
      }
   }
}