@import "./variables";
@import "./mixins";

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
*:not(i){
   font-family: $font;
}

.container{
   max-width: 1200px;
   padding: 0 20px;
   margin: 0 auto;
}





.logo-icon {
   width: 100px;
   height: 59px;
}