// Colors
$black-clr: #000000;
$bg-clr: #fff;
$blue-clr: #3cc0f0;
$grey-clr: #b1abab;

// font
$font: 'Roboto',Arial,sans-serif;

$transition: all 0.5s;

// media
$tab-screen: 960px;
$min-tab-screen: 640px;
$mob-screen: 480px;
