<div class="contacts-box">
   <p class="contacts-text company-name" data-lang="company-name">Սիրիուս Լոջիստիկս ՍՊԸ</p>
   <p class="contacts-text addres-text" data-lang="address">ՀՀ, ք․ Երևան, 0082, Բարձրաբերդի 27/1</p>
   <p class="contacts-text phone-text" data-lang="phone1">Հեռ։ +374․43․470․370</p>
   <p class="contacts-text phone-text" data-lang="phone2">Հեռ։ +374.77.788.080</p>
   <p class="contacts-text email-text"><span data-lang="email">Էլ․ փոստ։</span> <a
         href="mailto:a.kareyan@siriuslogistics.am" target="_blank" class="email-link">a.kareyan@siriuslogistics.am</a>
   </p>
   <p class="contacts-text work-time" data-lang="work-time">Աշխ․ ժամեր։ Երկ․-Ուրբ․։ 09։00-18։00</p>
</div>