<form action="#" class="form" id="send-mail-form" method="POST">
   <label for="name" class="label" data-lang="name">Անուն*</label>
   <input type="text" id="name" name="name" class="field name-field">
   <label for="email" class="label" data-lang="email">Էլ. փոստի հասցե*</label>
   <input type="email" id="email" name="email" class="field email-field">
   <label for="message" id="message"  class="label" data-lang="message">Հաղորդագրություն</label>
   <textarea class="message-field" name="message"></textarea>
   <button class="submit-btn" data-lang="submit-btn"  type="submit">Ուղարկել</button>
</form>