<form action="#" class="form" id="send-mail-form">
   <label for="name" class="label" data-lang="name">Անուն*</label>
   <input type="text" class="field name-field">
   <label for="email" class="label" data-lang="email">Էլ. փոստի հասցե*</label>
   <input type="email" class="field email-field">
   <label for="message" class="label" data-lang="message">Հաղորդագրություն</label>
   <textarea class="message-field"></textarea>
   <button class="submit-btn" data-lang="submit-btn">Ուղարկել</button>
</form>