<div class="main-navbar">
   <div class="main-navbar-container container">
      <hr class="main-navbar-border"> 
      <nav class="main-navbar-nav">
         <a href="#" class="main-navbar__link">գլխավոր</a>
         <a href="./about.html" class="main-navbar__link">մեր մասին</a>
         <a href="#" class="main-navbar__link">ցամաքային բեռնափոխադրումներ</a>
         <a href="#" class="main-navbar__link">օդային բեռնափոխադրումներ</a>
         <a href="#" class="main-navbar__link">ծովային բեռնափոխադրումներ</a>
         <a href="#" class="main-navbar__link">մաքսային ձեվակերպումներ</a>
         <a href="#" class="main-navbar__link">կապ</a>
      </nav>
   </div>
</div>