<div class="main-navbar">
   <div class="main-navbar-container container">
      <hr class="main-navbar-border"> 
      <nav class="main-navbar-nav">
         <a href="index.html" class="main-navbar__link main-navbar__link">գլխավոր</a>
         <a href="about.html" class="main-navbar__link">մեր մասին</a>
         <a href="groundFreight.html" class="main-navbar__link">ցամաքային բեռնափոխադրումներ</a>
         <a href="airFreight.html" class="main-navbar__link">օդային բեռնափոխադրումներ</a>
         <a href="seaFreight.html" class="main-navbar__link">ծովային բեռնափոխադրումներ</a>
         <a href="customForms.html" class="main-navbar__link">մաքսային ձեվակերպումներ</a>
         <a href="contact.html" class="main-navbar__link">կապ</a>
      </nav>
   </div>
</div>