<div class="main-navbar">
   <nav class="main-navbar-container container">
      <a href="#" class="main-navbar__link">գլխավոր</a>
      <a href="#" class="main-navbar__link">մեր մասին</a>
      <a href="#" class="main-navbar__link">ցամաքային բեռնափոխադրումներ</a>
      <a href="#" class="main-navbar__link">օդային բեռնափոխադրումներ</a>
      <a href="#" class="main-navbar__link">ծովային բեռնափոխադրումներ</a>
      <a href="#" class="main-navbar__link">մակսային ձևակերպումներ</a>
      <a href="#" class="main-navbar__link">կապ</a>
   </nav>
</div>