   <div class="burger-menu">
      <div class="burger-menu__flex">
         <a href="index.html" class="burger-menu__link ">գլխավոր</a>
         <a href="about.html" class="burger-menu__link">մեր մասին</a>
         <a href="groundFreight.html" class="burger-menu__link">ցամաքային բեռնափոխադրումներ</a>
         <a href="airFreight.html" class="burger-menu__link">օդային բեռնափոխադրումներ</a>
         <a href="seaFreight.html" class="burger-menu__link">ծովային բեռնափոխադրումներ</a>
         <a href="customForms.html" class="burger-menu__link">մաքսային ձեվակերպումներ</a>
         <a href="contact.html" class="burger-menu__link">կապ</a>
      </div>
   </div>

   <button class="burgers-menu__logo"></button>

   <button class="burgers-btn">
      <div class="burgers-btn__inner">
         <span class="burgers-btn__span"></span>
         <span class="burgers-btn__span"></span>
         <span class="burgers-btn__span"></span>
      </div>
   </button>