   <div class="burger-menu">
      <div class="burger-menu__flex">
         <a data-lang='home'  href="index.html" class="burger-menu__link ">գլխավոր</a>
         <a data-lang='about-us'  href="about.html" class="burger-menu__link">մեր մասին</a>
         <a data-lang='road-cargo-transportation'  href="ground-freight.html" class="burger-menu__link">ցամաքային բեռնափոխադրումներ</a>
         <a data-lang='air-cargo-transportation'  href="air-freight.html" class="burger-menu__link">օդային բեռնափոխադրումներ</a>
         <a data-lang='sea-freight-transportation'  href="sea-freight.html" class="burger-menu__link">ծովային բեռնափոխադրումներ</a>
         <a data-lang='costums-clearance-service'  href="custom-forms.html" class="burger-menu__link">մաքսային ձեվակերպումներ</a>
         <a data-lang='contact'  href="contact.html" class="burger-menu__link">կապ</a>
      </div>
   </div>


   <button class="burgers-btn">
      <div class="burgers-btn__inner">
         <span class="burgers-btn__span"></span>
         <span class="burgers-btn__span"></span>
         <span class="burgers-btn__span"></span>
      </div>
   </button>