<div class="mobile-nav">
   <button class="mobile-nav__close-btn">
      <svg class="mobile-nav__close-icon">
            <use xlink:href="@img/icons/sprite.svg#close"></use>
      </svg>
   </button>
   <div class="mobile-nav__menu">
      <a href="index.html" class="mobile-nav__link mobile-nav__link_active">գլխավոր</a>
      <a href="about.html" class="mobile-nav__link">մեր մասին</a>
      <a href="groundFreight.html" class="mobile-nav__link">ցամաքային բեռնափոխադրումներ</a>
      <a href="airFreight.html" class="mobile-nav__link">օդային բեռնափոխադրումներ</a>
      <a href="seaFreight.html" class="mobile-nav__link">ծովային բեռնափոխադրումներ</a>
      <a href="customForms.html" class="mobile-nav__link">մաքսային ձեվակերպումներ</a>
      <a href="contact.html" class="mobile-nav__link">կապ</a>
   </div>

   <p class="mobile-nav__footer-text">Sirius Logistics LLC</p>
</div>