<div class="our-services">
   <div class="our-services__container container">
      <h2 class="our-services__title">Մեր ծառայությունները</h2>
      <h4 class="our-services__subtitle">Սիրիուս Լոջիստիկս-ն առաջարկում է լոգիստիկ ծառայությունների լայն ընտրանի․</h4>
      <div class="our-services__boxes-wrapper">
         <div class="our-services__box">
            <img src="@img/1.jpg" alt="" class="our-services__box-img">
            <h3 class="our-services__box-text">ցամաքային բեռնափոխադրումներ</h3>
         </div>
         <div class="our-services__box">
            <img src="@img/2.jpg" alt="" class="our-services__box-img">
            <h3 class="our-services__box-text">օդային բեռնափոխադրումներ</h3>
         </div>
         <div class="our-services__box">
            <img src="@img/3.jpg" alt="" class="our-services__box-img">
            <h3 class="our-services__box-text">ծովային բեռնափոխադրումներ</h3>
         </div>
         <div class="our-services__box">
            <img src="@img/4.jpg" alt="" class="our-services__box-img">
            <h3 class="our-services__box-text">մակսային ձևակերպումներ</h3>
         </div>
         <div class="our-services__box">
            <img src="@img/5.jpg" alt="" class="our-services__box-img">
            <h3 class="our-services__box-text">պահեստային ծառայություններ</h3>
         </div>
         <div class="our-services__box">
            <img src="@img/6.jpg" alt="" class="our-services__box-img">
            <h3 class="our-services__box-text">հավաքական բեռների փոխադրում</h3>
         </div>
      </div>
   </div>
</div>