<div class="our-services">
   <div class="our-services__container container">
      <h1 class="our-services__big-title">"Սիրիուս Լոջիստիկս" ՍՊԸ - Ձեր վստահելի գործընկերը լոգիստիկայի աշխարհում</h1>
      <h2 class="our-services__title title">Մեր ծառայությունները</h2>
      <h4 class="our-services__subtitle">Սիրիուս Լոջիստիկս-ն առաջարկում է լոգիստիկ ծառայությունների լայն ընտրանի․</h4>
      <div class="our-services__boxes-wrapper">
         <div class="our-services__box">
            <a href="groundFreight.html" class="our-services__box-link">
               <img src="@img/1.jpg" alt="" class="our-services__box-img">
               <h3 class="our-services__box-text">ցամաքային բեռնափոխադրումներ</h3>
            </div>
            </a>
         <div class="our-services__box">
            <a href="airFreight.html" class="our-services__box-link">
               <img src="@img/2.jpg" alt="" class="our-services__box-img">
               <h3 class="our-services__box-text">օդային բեռնափոխադրումներ</h3>
            </div>
            </a>
         <div class="our-services__box">
            <a href="#" class="our-services__box-link">
               <img src="@img/3.jpg" alt="" class="our-services__box-img">
               <h3 class="our-services__box-text">ծովային բեռնափոխադրումներ</h3>
            </div>
            </a>
         <div class="our-services__box">
            <a href="seaFreight.html" class="our-services__box-link">
               <img src="@img/4.jpg" alt="" class="our-services__box-img">
               <h3 class="our-services__box-text">մակսային ձևակերպումներ</h3>
            </div>
            </a>
         <div class="our-services__box">
            <a href="backupServices" class="our-services__box-link">
               <img src="@img/5.jpg" alt="" class="our-services__box-img">
               <h3 class="our-services__box-text">պահեստային ծառայություններ</h3>
            </div>
            </a>
         <div class="our-services__box">
            <a href="collectiveLoads" class="our-services__box-link">
               <img src="@img/6.jpg" alt="" class="our-services__box-img">
               <h3 class="our-services__box-text">հավաքական բեռների փոխադրում</h3>
            </div>
            </a>
      </div>
   </div>
</div>