<div class="popup ">
    <div class="popup__backdrop">
        <div class="popup__window">
            <div class="popup__wrapper">
                <div class="popup__success popup__content ">
                    <svg class="popup__icon popup__success-icon">
                        <use xlink:href="@img/icons/sprite.svg#check"></use>
                    </svg>
                    <h3 class="popup__text popup__success-text" data-lang="popup-success">Сообщение успешно отправлено!</h3>
                </div>
                <div class="popup__fail popup__content">
                    <svg class="popup__icon popup__fail-icon">
                        <use xlink:href="@img/icons/sprite.svg#close"></use>
                    </svg>
                    <h3 class="popup__text popup__fail-text" data-lang="popup-fail">Ошыбка отправки!</h3>
            </div>
            <div class="popup__loading popup__content  ">
                <div class="popup__loading-anim"></div>
        </div>
                <button class="popup__close-btn">
                    <svg class="popup__close-icon">
                        <use xlink:href="@img/icons/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>