<form action="../../../send_mail.php" name="form" class="form" id="send-mail-form" method="post">
   <label for="name" class="label">Անուն*</label>
   <input type="text" name="user_name" class="field name-field">
   <label for="email" class="label">Էլ. փոստի հասցե*</label>
   <input type="email" name="user_email" class="field email-field">
   <label for="message" class="label">Հաղորդագրություն</label>
   <textarea class="message-field"></textarea>
   <button type="submit" class="submit-btn">Ուղարկել</button>
</form>