<div class="top-navbar">
   <div class="top-navbar__container container">
      <a class="top-navbar__logo-link" href="index.html">
         <svg class="top-navbar__logo-icon">
            <use xlink:href="@img/icons/sprite.svg#logo"></use>
         </svg>
      </a>
      <div class="top-navbar__phone-block">
         <div class="top-navbar__phone-item">
            <svg class="top-navbar__phone-icon">
               <use xlink:href="@img/icons/sprite.svg#phone"></use>
            </svg>
            <div class="top-navbar__phone__texts">
               <h1 class="top-navbar__phone-number">+374․43․470․370</h1>
               <h5 class="top-navbar__phone-city">Ք․ Երևան</h5>
            </div>
         </div>
         <div class="top-navbar__phone-item">
            <svg class="top-navbar__phone-icon">
               <use xlink:href="@img/icons/sprite.svg#phone"></use>
            </svg>
            <div class="top-navbar__phone__texts">
               <h1 class="top-navbar__phone-number">+374․43․470․370</h1>
               <h5 class="top-navbar__phone-city">Ք․ Երևան</h5>
            </div>
         </div>
      </div>

      <div class="top-navbar__lang-block">
         <div class="top-navbar__lang-dropbtn">
            <img src="@img/am-flag.png" alt="am">
         </div>
         <div class="top-navbar__lang-dropdown">
            <div class="top-navbar__lang-dropcontent">
               <span class="top-navbar__lang-text">Հայերեն</span>
               <img src="@img/am-flag.png" alt="am">
            </div>
            <div class="top-navbar__lang-dropcontent">
               <span class="top-navbar__lang-text">Ռուսերեն</span>
               <img src="@img/ru-flag.png" alt="ru">
            </div>
            <div class="top-navbar__lang-dropcontent">
               <span class="top-navbar__lang-text">Անգլերեն</span>
               <img src="@img/en-flag.png" alt="en">
            </div>
         </div>
      </div>

      <button class="top-navbar__burger-btn">
         <svg class="top-navbar__burger-icon">
            <use xlink:href="@img/icons/sprite.svg#burger"></use>
         </svg>
      </button>
   </div>
</div>