<div class="top-navbar">
   <div class="top-navbar__container container">
      <a class="top-navbar__logo-link" href="index.html">
         <img src="@img/logo.png" alt="" class="top-navbar__logo-icon">
      </a>
      <div class="top-navbar__phone-block">
         <div class="top-navbar__phone-item">
            <svg class="top-navbar__phone-icon">
               <use xlink:href="@img/icons/sprite.svg#phone"></use>
            </svg>
            <div class="top-navbar__phone__texts">
               <h1 class="top-navbar__phone-number"><a class="top-navbar__phone-link" href="tel:+374 77 800 215">+374 77 800 215</a></h1>
            </div>
         </div>
         <div class="top-navbar__phone-item">
            <svg class="top-navbar__phone-icon">
               <use xlink:href="@img/icons/sprite.svg#phone"></use>
            </svg>
            <div class="top-navbar__phone__texts">
               <h1 class="top-navbar__phone-number"><a class="top-navbar__phone-link" href="tel:+374 43 470 370">+374 43 470 370</a></h1>
            </div>
         </div>
      </div>

      <div class="top-navbar__lang-block">
         <div class="top-navbar__lang-dropbtn">
            <img src="@img/am-flag.png" alt="am">
         </div>
         <div class="top-navbar__lang-dropdown ">
            <div class="top-navbar__lang-dropcontent" data-value='am'>
               <span class="top-navbar__lang-text">Հայերեն</span>
               <img src="@img/am-flag.png" alt="am">
            </div>
            <div class="top-navbar__lang-dropcontent" data-value='ru'>
               <span class="top-navbar__lang-text">Русский</span>
               <img src="@img/ru-flag.png" alt="ru">
            </div>
            <div class="top-navbar__lang-dropcontent" data-value='en'>
               <span class="top-navbar__lang-text">English</span>
               <img src="@img/en-flag.png" alt="en">
            </div>
         </div>
      </div>
      @@include('mobileNav.html'{})
   </div>
</div>